{
    "extends": "airbnb",
    "plugins": [
        "import",
        "react",
        "react-hooks"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".jsx",
                    ".tsx"
                ]
            }
        ]
    }
}